---
import { GITHUB } from '../data/site';
---
<nav><div class="nav-in">
  <span class="brand">altscan<span class="cur">▋</span></span>
  <div class="nav-links">
    <a href="#explorers">Explorers</a><a href="#capabilities">Capabilities</a>
    <a href="#open-source">Open Source</a><a href={GITHUB}>Docs</a>
  </div>
  <a class="gh" href={GITHUB}>★ <b>GitHub</b></a>
</div></nav>
